.contact-cols.login-cols .col:first-child {
    padding: 0px;
    width: 45%;
}
.contact-cols.login-cols .col:last-child {
    width: 55%;
}
.login-cols .login-form-container {
    flex-direction: row-reverse;
}
.login-left-bg {
    height: 100%;
    width: 100%;
    background-image: url(../../../src/assets/images/LoginGirl.jpg);
    background-size: cover;
    background-position: center;
}

.login-cols .col .login-form .field-row {
    width: 100%;
}
.field-row.fluid{width:100% !important;}

.already-account a, .already-account p {
    color: #fff;
    font-weight: 500;
}

.already-account p {
    margin: 10px 0px 0px;
}

.already-account a strong {
    text-transform: capitalize;
}

.already-account p a {
    text-decoration: underline;
    text-underline-offset: 2px;
}