.banner {
    position: relative;
    background: #13100f;
}

/* .banner:after {
    width: 100%;
    height: 19vw;
    position: absolute;
    content: '';
    left: 0;
    bottom: -120px;
    background: url('../../assets/images/banner-bubbles.png') no-repeat;
    background-size: 100% 100%;
} */

.home-page {
    position: relative;
}

.home-page:after {
    width: 100%;
    height: 440px;
    /* position: absolute; */
    content: '';
    left: 0;
    top: 0;
    background: url('../../assets/images/grid.png') no-repeat;
    background-size: 100% 100%;
    opacity: 0.01;
}
.filture_list ul li {
    padding: 2PX 15PX;
    font-weight: 600;
    font-size: 16px;
    color: #22B3C1;
    cursor: pointer;
    text-transform:uppercase;
}
.hv_events:hover img {
    border: 5px solid #22B3C1;
    border-radius: 14px;
}

.filture_list .filters-form select {
    padding: 4px;
    border-radius: 5px;
    border-color: grey;
}
.banner .text {
    width: 100%;
    height: 100%;
    /* padding-bottom: 10vw; */
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    margin: 0 0 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.5;
    position: relative;
}

.banner h1:after {
    width: 165px;
    height: 26px;
    position: absolute;
    content: '';
    right: 94px;
    bottom: 4px;
    background: url('../../assets/images/heading-shape.png') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.banner h1 span {
    color: #22B3C1;
}

.banner .holder {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
}

.banner p {
    color: #fff;
    font-size: 21px;
    margin: 0 0 30px;
}

.search-form input[type="text"] {
    height: 46px;
    border: none;
    flex: 1;
    border-radius: 6px;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 25px;
}

.search-form {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 8px;
    border-radius: 25px;
    position: relative;
    border-radius: 32px;
}

.search-form [type="submit"] {
    border-radius: 6px;
    color: #fff !important;
    padding: 13px 5px;
    background: #22B3C1;
    font-weight: 600;
    display: block;
    border: none;
    width: 15%;
    height: 70%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    position: absolute;
    right: 1.7%;
    line-height: 13px;
}

.top-cols {
    padding: 216px 0 70px;
}

.sec-heading {
    font-size: 32px;
    line-height: 1.5;
    position: relative;
    padding: 20px 15px 35px;
    font-weight: 600;
    text-align: center;
}
.topEvt .sec-heading:after {
    right: 38%;
}
.sec-heading:after {
    width: 165px;
    height: 26px;
    position: absolute;
    content: '';
    right: 28%;
    bottom: 17px;
    background-size: 100% 100%;
    z-index: -1;
    background: url('../../assets/images/heading-shape.png') no-repeat;
    z-index: 2;
}
.topEvt .topEvtRow {
    margin-bottom:-7%;
}
.featuredEvt .column {
    margin-bottom: 35px;
}
.featuredEvt .location img {
    margin: auto 0;
}
.cols .column img {
    display: block;
    border-radius: 12px;
    margin: 0 0 20px;
    max-width: 100%;
}
.topEvt img {
    width:100%;
    border: 5px solid transparent;
    transition: all 0.35s ease-in-out;
}
.cols .column strong a {
    color: #210C0A;
}

.cols .column strong {
    display: block;
    text-align: center;
    color: #210C0A;
    font-size: 20px;
}

.cols .columns {
    gap: 16px;
}
.cols .columns .column{
    width:calc(33.3% - 11px);
}
.cols img{
    max-width: 100%;
    border: 5px solid transparent;
    transition: all 0.35s ease-in-out;
}
.link-holder {
    text-align: center;
    margin: 30px 0 0;
}

.link-holder a {
    color: #22B3C1;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: 16px;
    border-bottom: 1px solid #22B3C1;
    padding: 0 0 10px;
}

.slide-item {
    padding: 0 10px;
}

.swiper-horizontal {
    width: 100%;
}

.slide-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.swiper-horizontal .price {
    text-align: center;
    display: block;
    color: #22B3C1;
}

.slide-item .location {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.swiper-button-prev {
    background-color: #13100f;
}
.slide-item h2 {
    font-weight: 600;
    font-size: 19px;
    margin: 0;
}
.color_white {
    color: #fff;
}
.bg_green {
    background-color: #00b67a;
}
.newsletter {
    padding: 35px 15px;
}
.news-section {
    background-color: #D9D9D9;
    margin-top: 75px;
}

.news-area {
    display: flex;
}

.newsletter h3 {
    color: var(--Black, #210c0a);
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-transform: capitalize;
}

.newsletter h3 span {
    position: relative;
}
.payment_method img {
    width: 50px;
}
.newsletter p {
    color: #210c0a;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 20px;
    width: 491px;
}

.newsletter input {
    width: 414px;
    height: 48px;
    border-radius: 6px 0 0 6px;
    border: 1px solid rgba(33, 12, 10, 0.2);
    background: var(--White, #fff);
    padding-left: 16px;

}

.newsletter a,
.newsletter input[type="submit"] {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 25%;
    height: 48px;
    border-radius: 0 6px 6px 0;
    background: #0DCCD7;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.news-img {
    position: relative;
    top: -75px;
}
.news-section .column {
    width: 50%;
}
.swiper-button-prev,
.swiper-button-next{
    right: 65px;
    width: 48px;
    height: 48px;
    background: url('../../assets/images/left-arrow.png') no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    position: absolute;
    top: 3px;
}
.swiper-horizontal{padding-top:70px !important;}
.swiper-button-next{
    right:0;
    background: url('../../assets/images/right-arrow.png') no-repeat;
    background-size: 100% 100%;
    
}
.swiper, .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    padding-top: 80px;
}
.news-img img {
    max-width: 100%;
    height: auto;
}
@media(max-width:1200px){
    /* .banner .text{
        padding-top:10vw;
    } */
    .top-cols {
        padding: 176px 0 70px;
    }
    .top-cols{padding-bottom: 40px;}
    .sec-heading{margin:0;}
}
@media(max-width:999px){
    
    .news-img{
        /* display: none; */
        top: 0;
    }
    .newsletter,
    .newsletter p {
        width: 100%;
        text-align: center;
    }
    .newsletter *{
        text-align: center;
    }
}
@media(max-width:767px){
    .filters-form {
        width: 100% !important;
    }
    .topEvt .topEvtRow {
        margin-bottom:"0";
    }
    .search-form [type="submit"] {
        width: 20%;
        right: 2.5%;
        
    }
    .search-form input[type="text"] {
        width: 100%;
        flex:1;
    }
    .newsletter h3 {
        font-size: 30px;
        line-height: 42px;
     }
     .swiper-button-prev, .swiper-button-next{display: none;}
     .swiper-horizontal {
        padding-top: 30px !important;
    }
    .home-page .banner{
        height:440px;
    }
    .home-page .banner .holder{
        padding:0 15px;
    }
    .banner:after{bottom:-50px;}
    .top-cols {
        padding: 96px 0 70px;
    }

    .sec-heading{font-size: 24px;}
    .banner h1 {
        margin: 0 0 20px;
        font-size: 40px;
    }
}
@media(max-width:480px){
    .newsletter input{width:100%;}
    .news-section {
        background-color: #f5f5f5;
        width: 100%;
        padding: 30px 0;
        height: auto;
        margin-top: 0;
    }
    .cols.top-cols .columns .column{
        width: calc(50% - 11px);
    }
}