@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding:0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
}
*:focus{
    outline: unset;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin:0;
    overflow-x: hidden;
}
.container{
    max-width:1230px;
    margin:0 auto;
    padding:0 15px;
    display: flex;
    width:100%;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.column-direction{flex-direction: column;}
.ml-auto{
    margin-left: auto !important;
}
.v-center{
    align-items: center;
}
input,
select,
textarea{
    font-family: 'Urbanist', sans-serif;
}

.uppercase{
    text-transform: uppercase !important;
}

.list-none{
    margin:0;
    padding:0;
    list-style: none;
}
.text-center{
    text-align: center;
}
.fluid{width:100%;}
.uppercase{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    transition: 0.5s all linear;
}
.btn-primary {
    border-radius: 6px;
    color: #fff !important;
    padding: 13px 20px;
    background: #22B3C1;
    font-weight: 600;
    display: block;
}
.location-btn {
    color: #fff;
    border: none;
    background: none;
    font-weight: 600;
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
}
.login-page #main,
.about-page #main,
.contact-page #main{margin-bottom: 50px;}




/* media queries */