#header {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    background: #13100f;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}
#nav a{
    color:#fff;
    font-weight:300;
}
.logo {
    display: block;
    margin-right: 60px;
}
#nav ul {
    gap: 40px;
}
.right-btns {
    gap: 20px;
}